body {
    font-family: 'Mulish', sans-serif;
    background: rgb(243, 243, 243);
    color: rgb(31, 31, 31);
    text-align: center;
    margin: auto;
}

#html_header{
    margin-top: 100px;
}

.inputBar{
    border: none;
    margin-top: 50px;
    width: 200px;
    padding: 15px;
    font-family: 'Mulish', sans-serif;
    border-radius: 2px;
}

#addButton{
    padding: 15px;
    border: none;
    font-family: 'Mulish', sans-serif;
    margin-left: 10px;
    border-radius: 2px;
    background-color: rgb(137, 199, 141)
}

#addButton:hover {
    cursor: pointer;
    background-color: rgb(102, 160, 100);
}

#clearButton{
    padding: 15px;
    margin-left: 10px;
    border: none;
    font-family: 'Mulish', sans-serif;
    border-radius: 2px;
    background-color: rgb(209, 93, 93);
    color: white;
}

#clearButton:hover{
    cursor: pointer;
    background-color: rgb(184, 62, 62);
    color: white;
}


#restaurantItems{
    text-align: center;
    list-style: none;
    padding: 1%;
    margin: auto;
}

#randomButton{
    padding: 15px 30px;
    border: none;
    font-family: 'Mulish', sans-serif;
    border-radius: 2px;
    background-color: rgb(241, 232, 145);
}

#randomButton:hover {
    cursor: pointer;
    background-color: rgb(223, 168, 81);
    color: white;
}


#listDiv{
}

.individual_container{
    display: flex;
    width: 300px;
    margin: 1% auto;
}

.cross_button:hover{
    cursor: pointer;
    font-weight: 600;
}